@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
:root {
    --cyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);
    --grayishBlue: hsl(217, 19%, 38%);
    --darkGraBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}

body {
    background-color: var(--darkBlue);
}
